<% if ( Object.keys(items).length > 0) { %>
    <table class="table table-shopping">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item name</th>
            <th scope="col">Quantity</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <%  let index = 0;
            for ( const item of items ) { %>
            <tr>
                <th scope="row"><%= ++index %></th>
                <td><%= item.item %></td>
                <td id="<%= 'item_' + item.item %>"><%= item.qty %></td>
                <td align="right">
                    <form id="decForm" action="/shopping/dec" method="POST">
                        <input type="hidden" name="item" value="<%= item.item %>" />
                        <button type="submit"><i class="fas fa-minus-square"></i>Decrement</button>
                    </form>
                    <form id="incForm" action="/shopping/inc" method="POST">
                        <input type="hidden" name="item" value="<%= item.item %>" />
                        <button type="submit"><i class="fas fa-plus-square"></i>Increment</button>
                    </form>
                    <form id="rmForm" action="/shopping/rm" method="POST">
                        <input type="hidden" name="item" value="<%= item.item %>" />
                        <button type="submit"><i class="fas fa-trash-alt"></i>Remove</button>
                    </form>
                </td>
                </tr>
            
            <% } %>
        </tbody>
    </table>
<% } %>
